* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: hsl(216, 50%, 16%);
    max-width: 365px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 1rem;
}

.card {
}

section {
    padding: 1.25rem;
}